<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("categorydesign"); -%>
  </head>
  <body>
    <h1>CATEGORIES</h1>
    <div class="img-row-top">
      <a href="http://localhost:3000/articles/sports" class="grid">
        <figure class="effect-chico">
          <img
            width="400px"
            height="260px"
            src="https://mediacloud.theweek.co.uk/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1607701736/theweek/2020/12/Cristiano%20Ronaldo%20Juventus%20Lionel%20Messi%20Barcelona%20%20%20%20GettyImages-1290158744.jpg"
            alt="img04"
          />
          <figcaption>
            <h2><span>Sports</span></h2>
          </figcaption>
        </figure>
      </a>

      <a href="http://localhost:3000/articles/politics" class="grid">
        <figure class="effect-chico">
          <img
            width="400px"
            height="260px"
            src="https://virtualspeech.com/img/blog/obama-presentation-history.jpg"
            alt="img04"
          />
          <figcaption>
            <h2><span>Politics</span></h2>
          </figcaption>
        </figure>
      </a>

      <a href="http://localhost:3000/articles/business" class="grid">
        <figure class="effect-chico">
          <img
            width="400px"
            height="260px"
            src="https://media.istockphoto.com/photos/business-development-to-success-and-growing-growth-concept-pointing-picture-id1145631842?k=6&m=1145631842&s=612x612&w=0&h=D9ToEIi64qlA4_w-VmN9CBvfW-D4DKvdJrG1jJU-GPk="
            alt="img04"
          />
          <figcaption>
            <h2><span>Business</span></h2>
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="img-row-bottom">
      <a href="http://localhost:3000/articles/technology" class="grid">
        <figure class="effect-chico">
          <img
            width="400px"
            height="260px"
            src="https://res-3.cloudinary.com/fieldfisher/image/upload/c_lfill,g_auto/f_auto,q_auto/v1/sectors/technology/tech_neoncircuitboard_857021704_medium_lc5h05"
            alt="img04"
          />
          <figcaption>
            <h2><span>Technology</span></h2>
          </figcaption>
        </figure>
      </a>

      <a href="http://localhost:3000/articles/health" class="grid">
        <figure class="effect-chico">
          <img
            width="400px"
            height="260px"
            src="https://i.pinimg.com/originals/10/20/4e/10204e2cf94ed01b71805a97cdf1047b.jpg"
            alt="img04"
          />
          <figcaption>
            <h2><span>Health</span></h2>
          </figcaption>
        </figure>
      </a>

      <a href="http://localhost:3000/articles/entertainment" class="grid">
        <figure class="effect-chico">
          <img
            width="400px"
            height="260px"
            src="https://assets-news-bcdn.dailyhunt.in/cmd/resize/wxh__DHQ_/fetchdata16/images/32/bb/4b/32bb4b8968f3cf679b88b9c1b10b9a8af19cf5e30a8249cbc4f7a91aadf43bfd.jpg"
            alt="img04"
          />
          <figcaption>
            <h2><span>Entertainment</span></h2>
          </figcaption>
        </figure>
      </a>
    </div>
  </body>
</html>
