<!-- Panel Bottom #03 -->
<nav class="panel bottom forceMobileView">
    <div class="sections desktop">
      
      <div class="center">
        <span class="opacity-8 semiBold"
          >&copy; NUIZ 2021</span
        >
      </div>
      
    </div>
  </nav>

  <!-- jQuery 3.5.1 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Compressed Scripts -->
  <script src="js/slides.min.js?521351" type="text/javascript"></script>
</body>
</html>
