<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <base href="https://designmodo.com/slides/app/" />
    <title>NUIZ</title>
    <meta property="og:title" content="cover page - group proj" />
    <meta name="twitter:title" content="cover page - group proj" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <!-- Compressed Styles -->
    <link href="css/slides.min.css?521351" rel="stylesheet" type="text/css" />
    <!-- Fonts and Material Icons -->


    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Font Awesome -->
  
    
    <link
      rel="stylesheet"
      as="font"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Material+Icons&display=swap"
    />
<!--
  </head>
</html>
